@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Sarabun', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Prompt', sans-serif;
}

body {
  background-color: #050811;
  color: #E2E8F0;
}
